<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="LogFile" patternSyntax="ECMAScript">
          <match url="^(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>

    <webSocket enabled="false" />

  </system.webServer>
</configuration>
